/* Base */
* , :before, :after {
  box-sizing: border-box;
}

html {
  font-size: 1em;
}

blockquote, body, dd, dl, fieldset, figure, h1, h2, h3, h4, h5, h6, hr, legend, ol, p, pre, ul {
  padding: 0;
  margin: 0;
}

body {
  background-color: $background-color;
  color: $text-color;
  font-family: $font-family--base;
  line-height: $line-height--base;
}

img {
  max-width: 100%;
  object-fit: contain;
}

ul {
  list-style: none;
}
