.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  &_col {
    flex-direction: column;
  }
}

.col {
  @include columns-loop("sm",$columns, $gutter);
  @media screen and (min-width: $medium-screen) {
    @include columns-loop("md",$columns, $gutter);
  }
  @media screen and (min-width: $large-screen) {
    @include columns-loop("lg",$columns, $gutter);
  }
}
